



<div id="successPage" class="alreadyExist">
    <div class="content">
        <div class="arleadyExistImg"></div>
        <div class="text">
            Your Ride Is Registered :) <br>
            We will Send You Every Information About The Trip :) <br>
            Thank You 
        </div>
    </div>
</div>