


<div id="mobilePage">
        <span class="header">Ride With Me</span>

            <span class="mobileTime">
                The Next Event Will Be Held In <br>

            <span class="timeM">
                <span id="daysM"></span> Days
                <span id="hoursM"></span> Hours
                <span id="minutesM"></span> Minutes
                <span id="secondsM"></span> Seconds
            </span>
            <br>
            <!-- <a href="otherPages/tripPlan.html" target="_blank"><span class="button">Full Trip Plan</span></a> -->
        </span>

        <div class="circle"></div>
        <img class="mobileImg" src="css/bikePng.png" alt="">

</div>
