
<div class="nextEvent" id="nextEvent">
    <img src="css/Harley1.png" alt="" class="nextEventImg">
    <div class="textContainer">
        The Next Event Will Be Held In

        <div class="time">
            <span id="days"></span> Days
            <span id="hours"></span> Hours
            <span id="minutes"></span> Minutes
            <span id="seconds"></span> Seconds
        </div>
        <!-- <a href="otherPages/tripPlan.html" target="_blank"><span class="button">Full Trip Plan</span></a> -->
    </div>
</div>

