<div class="ourInitiative" id="ourInitiative">
    <img class="ourInitiativeImg" src="css/HarleyTrip.jpg" alt="">
    
    <div class="textContainer">
        <i> We Are Looking For The People Who Wants To Enjoy Their Life. </i> <br>
        <p class="litleText">
            We are organizing a Event Where we will Travel a small part of India, Our Moto is to discover India in our Free Time.
        </p>
    </div>
    <div class="organizedEvents">
        ORGANIZED EVENTS TILL DATE ::
    </div>
</div>