


<div class="registerYourTrip" id="registerYourTrip">
    <img class="registerYourTripImg" src="css/Harley3.png" alt="">
    <div class="textContainer">
        <span>Register Your Ride</span>
        <div class="registerForm">
            <form action="/" method="post" autocomplete="off">
                <input type="text" name="riderName" placeholder="Your Name" id="riderName" required>
                <input type="email" name="riderEmail" placeholder="Your E-mail Id" id="email" required>

                <input type="number" name="riderAge" placeholder="Age(Optional)" onkeypress="return onlyNumberKey(event)" required>
                <input type="number" name="riderPhone" placeholder="Phone No.(Optional)" onkeypress="return onlyNumberKey(event)" required>
                <input type="text" name="riderPro" placeholder="Profession(Optional)"> <br>
                <i id="result"></i>
                <input id="regButton" type="submit" value="Register Ride" onclick="sendPage()">
            </form>
        </div>
    </div>
</div>